# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz

# app specific
log_send_msg.txt
in_fints.txt
out_fints.txt
coverage
test/credentials.js